* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}

.container {
	margin: 20px auto 0;
	max-width: 900px;
	border: 2px solid mediumseagreen;
	border-radius: 20px;
	padding: 30px 0;
}